<!DOCTYPE html>
<html>
	<%- include('partials/head') %> 
    <body>
        <%- include('partials/headerNavbar') %>
        <main class="principales">
            
                <div class="productosprincipales">
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_gorras.jpg">
                    </div>
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_remeras.jpg">
                    </div>
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_vinilos.jpg">
                    </div>
                    <div class="destacado1">
                        <img class= "imagen" src="images/banner_box.jpg">
                    </div>
                </div>
            
           
        </main>
        <%- include('partials/footer') %>
        
    </body>
</html>