<!DOCTYPE html>
<html>
    <%- include('partials/head') %> 
    <body>
        <%- include('partials/headerNavbar') %>
        <article class="register">
    
            <div class="login">
                <form action="">
    
                    <div>
                        <p>¿Ya tienes cuenta? ¡Loguéate!</p>
                    </div>
                    
                    <div>
                        <label for="correo">Correo:</label>
                        <input type="email" name="email" id="correo">
                    </div>
                    
                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="password" id="contrasena">
                    </div>
    
                    <div>
                        <input type="submit" value="Log In">
                    </div>
                    
                </form>
    
            </div>
    
        </article>
        <%- include('partials/footer') %>
        
    </body>
</html>