<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>

    <%- include('partials/headerNavbar') %>

    

    <article class="articulo">
        <h2>Album Torches, Foster the People</h2>
        
        <div class="contenedor">

            <img id="img" src="/images/FosterThePeople.png" alt="">
            
            <div class="scroll">
                <a href="#"><img src="/images/FosterThePeople.png" alt=""></a>
                <a href="#"><img src="/images/FosterThePeople.png" alt=""></a>
                <a href="#"><img src="/images/FosterThePeople.png" alt=""></a>
            </div>

            <div class="descripcion">
                <h2>$999</h2>
                <p id="disponible">Disponible</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit excepturi deserunt harum laborum cum quaerat quia nam eaque eos hic, iste porro ad? Non officia neque vel aperiam fuga?</p>
                <button class="boton">Agregar al carrito</button>
            </div>

            

        </div>
        <div class="similares">
            
            <p>Art1</p>
            <p>Art1</p>
            <p>Art1</p>
            
        </div>

        
    </article>
    

    <%- include('partials/footer') %>
    
</body>
</html>