<!DOCTYPE html>
<html>
    <%- include('partials/head') %> 
    <body>
        <%- include('partials/headerNavbar') %>
        <article class="register">

            <div class="registro">
                <div>
                    <p>¿Usuario Nuevo? ¡Regístrate!</p>
                </div>
                
    
                <form action="usuario/perfil" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" type="text" name="firstName" id="nombre" placeholder="Juan">
                    </div>
                    
                    <div>
                        <label for="apellido">Apellido:</label>
                        <input class="form-control" type="text" name="lastName" id="apellido" placeholder="Pérez">
                    </div>
                    
                    <div>
                        <label for="correo">Correo:</label>
                        <input class="form-control" type="email" name="email" id="correo">
                    </div>
                    
                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input class="form-control" type="password" name="" id="contrasena">
                    </div>
                    <div>
                        <label>Imagen de Perfil</label>
                        <input class="form-control" type="file" name="avatar"> 
                    </div>
                    
                    <div>
                        <input type="submit" value="Registrarse">
                    </div>
                    
    
    
                </form>
    
            </div>

        </article>
        <%- include('partials/footer') %>
        
    </body>
</html>