<footer class="footer">
	<h1>Newsletter</h1>

	<p>
		Suscríbete para recibir emails de THORB con noticias de nuestros artistas <br> ofertas y más.
	</p>

	<input class="search-bar-footer" type="text" placeholder="Correo"><button>Suscribirse</button>

	<h1>Redes Sociales</h1>
	<div>
		<a href="#"><i class="fa-brands fa-instagram"></i></a>
		<a href="#"><i class="fa-brands fa-facebook"></i></a>
		<a href="#"><i class="fa-brands fa-square-twitter"></i></a>
		<a href="#"><i class="fa-brands fa-youtube"></i></a>

	</div>

	<p> Copyright 2022 The House of The Rising Bands. All rights reserved.</p>

</footer>
