<header>
	<section>
		<div class="main-bar">
			<a href="/">
				<div class="logo"> 
					<img src="/images/logo.jpeg" >
				</div>
			</a>
			<article class="low-main-bar">
				<div class="burger-menu">
					<i class="fa-solid fa-bars"></i>
				</div>                    
					<div class="form" action="#" method="GET">
						<div class="input"><i class="fa fa-search"></i> Buscar productos, marcas y más</div>
					</div>
					<div class="cart">
					<a href="/producto/productCart">
						<i class="fas fa-shopping-cart"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="nombre" >
			<div class="lema"> 
				<p>The House of the rising bands</p>
			</div>
		</div>
		<article class="opciones-principales">
			<a href="/producto/productosTodos">
				<ul>Todos los productos</ul>
			</a>
			<a href="/producto/crear">
				<ul>Vender</ul>
			</a>
			<a href="/register">
				<ul>Registrarse</ul>
			</a>
			<a href="/login">
			<ul>Ingresá</ul>
		</a>
		</article>
	</section>
</header>