<header>
	<section>
		<div class="main-bar">
			<div class="logo"> 
				<img src="images/logo.jpeg" >
			</div>
			<article class="low-main-bar">
				<div class="burger-menu">
					<i class="fa-solid fa-bars"></i>
				</div>                    
					<div class="form" action="#" method="GET">
						<div class="input"><i class="fa fa-search"></i> Buscar productos, marcas y más</div>
					</div>
				<div class="cart">
					<i class="fas fa-shopping-cart"></i>
				</div>
			</div>
		</div>
		<div class="nombre" >
			<div class="lema"> 
				<p>The House of the rising bands</p>
			</div>
	</section>
</header>